<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Craw kết quả sổ số</title>
  </head>
  <body>
<h1><%=html.giai_dac_biet[0]%> : <%=html.giai_dac_biet[1]%></h1>
<h1><%=html.giai_nhat[0]%> : <%=html.giai_nhat[1]%></h1>
<h1><%=html.giai_nhi[0]%> : <%=html.giai_nhi[1]%></h1>
<h1><%=html.giai_ba[0]%> : <%=html.giai_ba[1]%></h1>
<h1><%=html.giai_tu[0]%> : <%=html.giai_tu[1]%></h1>
<h1><%=html.giai_nam[0]%> : <%=html.giai_nam[1]%></h1>
<h1><%=html.giai_sau[0]%> : <%=html.giai_sau[1]%></h1>
<h1><%=html.giai_bay[0]%> : <%=html.giai_bay[1]%></h1>
  </body>
</html>
